
{% extends 'base.html' %}

{% block headerimage %}

         <div class="container-fluid about-header">
            
{% endblock %}
{% block header %}


<header>

</header>


{% endblock %}

{% block content %}

  <div class="row padding-box">
        <div class="row justify-content-center">
            <div class="col-3 portrate">
                
            </div>
            <div class="col-md-6">
                <p>My name is Zorika Gaeta.
                </p>
                <p>I was born and raised in southern Germany near the rhine river where after graduating from middle school, I got a degree in graphic-design. Later I moved to Berlin to study at the the Film University Babelsberg Konrad Wolf. I graduated
                    in 2018 with a BFA in 2D Animation
                </p>
                <p>At present I live in Leeds, England, creating independent comics and working as a freelance artist for comic, illustration and 2D animation.
                </p>
                <p>I enjoy walking, laughing and making friends with dogs.
                </p>
                <p>For work opportunities or questions, please email me at: akirotea@protonmail.com
                </p>
            </div>
        </div>
    </div>

{% endblock %}
