{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":19,"column":22},"end":{"row":20,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":20,"column":0},"end":{"row":20,"column":16},"action":"insert","lines":["whitenoise-4.1.4"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":20,"column":16},"end":{"row":20,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":31,"mode":"ace/mode/text"}},"timestamp":1569853490749,"hash":"e111f3272a2107596203273ec209ca9b4034f7f3"}