{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block headerimage %}

<div class="container-fluid hire-header">

    {% endblock %} {% block header %} {% endblock %} {% block content %}

    <div class="row justify-content-center">
        <div class="col-md-8 col-xs-12">
            <p>Thank you for your enquirey.</p>
            <p>The estimated cost of this project is £{{total}}</p>
            <p>I will contact you soon thought your email address {{this_estimate.email}}</p>
        </div>
    </div>
    <a href="{% url 'index' %}">Return Home</a> {% endblock %}
