{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block headerimage %}

<div class="container-fluid hire-header">

    {% endblock %} {% block header %}


    <header>
        <div class="col-6  white-text">
            <h2>If you‘re a comic writer and think my art </h2>
            <h2>would suit your writing, you can hire me as a comic artist </h2>
        </div>
    </header>


    {% endblock %} {% block content %}

    <div class="row justify-content-center no-gutters padding-box">
        <div class="col-md-6 col-xl-4">
            <p>You can e-mail me your order at akirotea@protonmail.com Before you do so, please read the <a class="terms-conditions" href="
https://docs.google.com/document/d/1wI55-p5C-8IHq_omSDIjhejJg29IcYCzXci-ePbkt-o/edit?usp=sharing">Terms & Conditions.</a> They contain all the information about my working process and how to order.
            </p>

            <p>To give you an accurate price estimate I‘ll need to know the following:</p>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-xs-12">
            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{ form | as_bootstrap}}
                <div class="row">
                    <div class="form-group col">
                        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Request Commition Estimate">
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% endblock %}
